{% extends 'base.html' %}
{% load static %}


{% block title %}
	My Blog
{% endblock title %}


{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock stylesheets %}


{% block content %}
	
	<section id="welcome">
		<header>
			<img src="" alt="Django - Author of the blog">
			<h2>Django's Blog</h2>
		</header>
		<p>Hi, I am a django and I love to blog</p>
	</section>

	<section id="latest-posts">
		<ul>
			
			{% for post in posts %}
				{% include 'blog/includes/post.html' %}
				
			{% endfor %}
		</ul>
		
	</section>

	<section id="about">
		<h2>What I do</h2>
		<p>Hi, I am a django and I love to blog</p>
	</section>
{% endblock content %}
	