{% extends 'base.html' %}
{% load static %}


{% block title %}
	The post title
{% endblock title %}
	

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock stylesheets %}
	

{% block content %}
	<section id="summary">
		<h2>Post Title</h2>
		<article>
			<img src="{% static "blog/images/"|add:post.image %}" alt={{ post.title }}>
			<address>By Django</address>
			<div>
				last updated on <time>{{ post.date }}<time>
			</div>
		</article>
	</section>
	<main>
		{{ post.content|linebreaks }}
	</main>
{% endblock content %}
	